.navbar-container {
    position: fixed;
    width: 100%;
    display: flex; 
    /* justify-content: space-between; */
    padding: 1.5rem 2.5rem 1rem; 
    font-size: 1rem;
    line-height: 1.75rem; 
/*      fade in on load */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 9;
  }

.nav-logo {
    color: #fff;
    cursor: pointer;
    margin: 0 2.25rem;
  }

.navbar-link-container {
    margin-left: 75%
  }

.nav-routes {
    display: flex;
    flex-direction: row;
  }
  
.nav-top-links {
    margin: 0 .5rem;
  }
    
.nav-top-links:hover {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid red;
  }

.nav-links {
    margin: 0 1rem;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    width: 40px;
  }

  //hamburger menu
.hamburger {
    height: 80px;
    width: 80px;
    position: absolute;
  }

.close {
  height: 80px;
  width: 80px;
}

  .hamburger:hover {
    cursor: pointer;
  }
  
  .line {
    height: 4px;
    width: 50px;
    background-color: #000;
    margin-top: 5px;
    border-radius: 10px;
    opacity: 0;
  }
  
  .line:nth-child(1) {
    transform: rotateback(5deg);
    animation: rotateback 0.5s 1;
  }
  
  .line:nth-child(2) {
    width: 35px;
    left: 50%;
    transform: translate(20%, 10%);
  }
  
  .line:nth-child(3) {
    transform: rotateback(5deg);
    animation: rotateback 0.5s 1;
  }

  .close .line:nth-child(1) {
    background-color: red;
    transform: rotate(135deg);
    animation: rotate 0.5s 1;
    position: absolute;
  }
  
  .close .line:nth-child(2) {
    opacity: 0;
  }
  
  .close .line:nth-child(3) {
    background-color: red;
    transform: rotate(45deg);
    animation: rotate 0.5s 1;
    position: absolute;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate2(45deg);
    }
  }
  
  @keyframes rotateback {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate2(0deg);
    }
  }

/* title */
.header-container {
  position: relative;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  z-index: 1;
}

.header-container .card {
  position: relative;
  width: 800px;
  height: 650px;
  margin: 30px 100px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-item: center;
  
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.header-container .title-container {
  position: relative;
  width: 800px;
  height: 650px;
  /* margin: -120px; */
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-item: center;
  
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.header-container .card .content {
  text-align: center;
  transition: 0.5s;
}

.container .card:hover .content {
  transform: translate(0px);
    opacity: 1;
} 

.container .card .content h2 {
  position: absolute;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-event: none;
}

.container .card .content p {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 25px;
  padding: 8px 20px;
  margin-top: 25px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 300; 
  letter-spacing: 5px;
}


.title-container {
  width: 300px;
  position: absolute;
}

.title {
  position: absolute;
  font-size: 36px;
  animation: fadeInTitle ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.subtitle-container {
  width: 200px;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 24px;
}

.subtitleTwo-container {
  width: 200px;
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 24px;
}

.subtitleThree-container {
  width: 200px;
  position: absolute;
  top: 75%;
  left: 30%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 24px;
}

.subtitle {
  animation: fadeInSubTitle ease 11s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  color: blue;
}

.subtitleTwo {
  animation: fadeInSubTitle ease 9s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  color: red;
}

.subtitleThree {
  animation: fadeInSubTitle ease 13s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  color: green;
}

  // footer
.footer-container {
    width: 100vw;
    position: fixed;
    bottom: 0;
  }
  
  .nav-socials-footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    animation: fadeInFooter ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    display: flex;
    justify-content: center;
    align-items: center;

  }
  
.nav-links-footer {
    margin: 15px;
    bottom: 0;    
}
  

.social-title {
      opacity: 1
  }

.social-title:hover {
      opacity: 1;
      color: red;
      top: 50%;
      left: 50%;

  }

  /* responsive */  
  @media (max-width: 950px) {
    .navbar-link-container {
      opacity: 0;

    }
    
    .hamburger {
      opacity: 1;
      position: fixed;
      left: 85%;
      background-color: transparent;
    }
    .line {
      opacity: 1;
    }
  }
  
  @media (max-width: 28rem) {
   
    .hamburger {
      background-color: transparent;
      left: 70%;
    }
    
    .subtitle-container {
      opacity: 0;
    }
      .subtitleTwo-container {
      opacity: 0;
    }
      .subtitleThree-container {
      opacity: 0;
    }
  }
  /* on page load animation */
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      top: -50%;
    }
    65% {
      opacity: .3;
    }      
    70% {
      opacity: .4;
    }
    75% {
      opacity: .5;
    }
    80% {
      opacity: .6;
    }
    85% {
      opacity: .7;
    }
    90% {
      opacity: .8;
    }
    95% {
      opacity: .9;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
  
  @keyframes fadeInTitle {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
     }
  }
  
  @keyframes fadeInSubTitle {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInFooter {
    0% {
      opacity: 0;
      bottom: -50%;
    }
    100% {
      opacity: 1;
      bottom: 0;
    }
  }